@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}
body .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  box-shadow: 0 0.2em 5px rgb(183, 183, 183);
  padding: 0 1em;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}
body .navbar h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body .navbar a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body .info h2 {
  margin-top: 4em;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
body form .form-element {
  display: none;
  margin: 0.5em;
  text-align: center;
  width: 15em;
  flex-direction: column;
}
body form .form-element .input {
  display: block;
  font-size: 1.2em;
  margin-top: 0.4em;
  border-radius: 0.5em;
  padding: 0.1em;
  margin-bottom: 1em;
  border: none;
  border-bottom: 0.1em solid;
  border-right: 0.1em solid;
  border-color: grey;
  box-shadow: 0.2em 0.2em 1em rgb(202, 202, 202);
  min-width: 100%;
}
body form .form-element .input:focus {
  background-color: rgb(245, 245, 245);
  outline: none;
}
body form .form-element label {
  font-size: 1.2em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body form .form-element .form-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}
body form .form-element .form-nav .next, body form .form-element .form-nav .back {
  cursor: pointer;
  background-color: rgb(222, 222, 222);
  font-size: 1.2em;
  padding: 0.3em 0.8em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 0.5em;
  border: 0.1em solid;
  border-color: grey;
}
body form .form-element.active {
  display: block;
}
body .reservation-lookup {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
body .reservation-lookup a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: rgb(222, 222, 222);
  font-size: 1.2em;
  padding: 0.3em 0.8em;
  user-select: none;
  border-radius: 0.5em;
  border: 0.1em solid;
  border-color: grey;
}
body .submitted {
  position: absolute;
  width: 20em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(241, 241, 241);
  border: 0.1em solid;
  border-radius: 1em;
  border-color: gray;
  z-index: 999;
}
body .submitted .top {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
body .submitted .top .copied {
  margin-top: -0.8em;
  text-align: center;
}
body .submitted .top .success {
  margin-top: -0.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
}
body .submitted .top .success span {
  color: green;
  display: block;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.3em;
  font-weight: 700;
}
body .submitted .top .qrcode-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  border: 0.1em solid;
  border-radius: 1em;
  border-color: gray;
}
body .submitted .top .qrcode-wrapper .qrcode {
  padding: 1em;
}
body .submitted .top .reservation-code {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1.2em;
}
body .submitted .top .reservation-code p {
  padding: 0.4em 0.8em;
  background-color: rgb(222, 222, 222);
  border: 0.1em solid;
  border-radius: 1em;
  border-color: rgb(159, 159, 159);
  font-family: "Source Code Pro";
  cursor: pointer;
}
body .submitted .top .reservation-code .svg-wrapper {
  height: 1.5em;
  width: 1.5em;
  margin-left: 0.5em;
  cursor: pointer;
}
body .submitted .top .reservation-code .svg-wrapper img {
  max-height: 100%;
  max-width: 100%;
}
body .submitted .bottom {
  display: flex;
  justify-content: space-between;
  border-top: 0.1em solid;
  border-color: gray;
}
body .submitted .bottom .done, body .submitted .bottom .download {
  padding: 0.2em 0.4em;
  font-size: 1.2em;
  background-color: rgb(222, 222, 222);
  border: 0.1em solid;
  border-radius: 0.5em;
  border-color: gray;
  margin: 0.6em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid black;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
  max-height: 100%;
  max-width: 100%;
}

.loader:after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid black;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
  max-height: 2em;
  max-width: 2em;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pulse {
  0%, 60%, 100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 2em;
  max-width: 2em;
}

/*admin page*/
body .lookup {
  margin-top: 6em;
  margin-left: 1em;
}
body .lookup input {
  background-color: white;
  border: none;
  border-bottom: 0.1em solid;
  border-radius: 0.5em;
  box-shadow: 0.08em 0.08em 0.5em rgb(202, 202, 202);
}
body .lookup input:focus {
  outline: none;
  background-color: rgb(245, 245, 245);
}
body .output {
  margin-left: 1em;
}
body .output span {
  background-color: rgb(207, 207, 207);
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  margin-left: 0.2em;
}
@media print {
  body .navbar {
    box-shadow: none;
    border-bottom: 0.1em solid;
    display: block;
  }
  body .lookup {
    display: none;
  }
  body .output {
    margin-top: 6em;
  }
}/*# sourceMappingURL=main.css.map */